.button-remove-favorite {
    /* margin-left: 15px; */
}

.fav-container{
    display: flex;
    flex-direction: column;
    /* flex-flow: row wrap; */
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    min-height: 100vh;
}

.spacing-row{
    margin-bottom: 40px;
}

.title-fav{
    display: flex;
    justify-content: center;
    /* justify-items: center; */
    align-items: center;
    /* border: 1px solid red; */
    margin-top: 25px;
}